.resume{
  background-color:lightblue;
  font-size:200%;
  width:100%;
  line-height:100px;
  text-align:center;
  padding-left:10px;
    
}

body{
  background-color:white;
  color:black;
  font-family: Arial, Helvitica, sens-serif;
  margin: 1px 10%;
  line-height:120%;
}

.img{
  width:30%;
  height:30%;
  float:right;
  padding:10% 10%;
  margin-top:-80px
  
}

.exp-header{
  text-align: center;
  text-transform: uppercase;
  border-top:1px solid #dddddd;
  border-bottom:1px solid #dddddd;
  background-color: lightgrey;
}


.footer{
 text-align: center; 
 background-color:lightblue;
  color:black;
  padding:5% %;
  width:102%;
  text-align:left;
  padding-top:20px;
  padding-top:20px;
  padding-left:20px;
  margin-bottom:25px;
}
